<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Pratice - Settings</title>
</head>
<style>
    @import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap);

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    body {
        text-align: center;
        min-height: 100vh;
        justify-content: center;
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
</style>
<body>
    <h1>Settings</h1>
</body>
</html>